.develop-instruments {
    display: flex;
    flex-wrap: wrap;
}

.develop-instruments__item {
    padding: 0 18px;
    background-color: #f3f5f9;
    margin-right: 10px;
    opacity: 0.7;
    color: #2f3642;
    font-family: $font-semibold;
    font-size: 15px;
    font-weight: 400;
    line-height: 48px;
    border-radius: 32px;
}
