.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;
    line-height: 30px;
}

.header__logo {
    font-family: "OpenSans-Extrabold", sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.header__btns {
    margin: 0 20px;
}
