.iconlink {
      display: flex;
}

.iconlink__symbol {
      margin-right: 20px;
      margin-top: 3px;
      width: 15px;
      height: 15px;
      fill: $link;
}

.iconlink__link {
      font-size: 18px;
      font-weight: 700;
      color: $link;

      &:hover {
            text-decoration: underline;
      }
}
