.lengthtitle__text {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 59px;
}

.lengthtitle__desc {
    font-family: $font-semibold;
    line-height: 30px;
    opacity: 0.5;
}
