.mailform {
    color: $white;
    margin: 0 160px;
    padding: 200px 0 160px;

    @include tablets {
        margin: 0 auto;
    }

    @include phones {
        margin: 0 auto;
        width: 100%;
    }
}

.mailform__header {
    margin-bottom: 97px;
}
