.mailform {
    color: $white;
    position: relative;
    z-index: 1;

    @include tablets {
        margin: 0 auto;
    }

    @include phablets {
        margin: 0 auto;
        width: 100%;
    }
}

.mailform__header {
    margin-bottom: 97px;

    @include tablets {
        display: flex;
        justify-content: center;
    }
}
