.main-page {
    background-image: url("../images/content/bridge.jpg"),
        url("../images/content/filler.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
}
