.main-page {
    position: relative;

    @include tablets {
        background-image: url("../images/content/bridge.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
