.more-info {
    background: url("../images/content/background.png") no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.more-info__random-img {
    right: 0;
    top: -35px;
    position: absolute;
}
