.more-info {
    background: url("../images/content/background.png") no-repeat;
    background-size: cover;
    position: relative;
    display: flex;

    &:before {
        content: '';
        background: url('../images/content/leaves.png') center center no-repeat;
        right: 0;
        top: -100px;
        position: absolute;
        width: 577px;
        height: 1404px;
    }
}

.more-info__content {
    padding: 0 20px 0 160px;
}
