.skills-row__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
}

.skills-row__list {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.skills-row__item {
    margin-right: 68px;

    &:last-child {
        margin-right: 0;
    }
}
