.socials {
    display: flex;
}

.socials__icon {
    //width: 100%;
    height: 100%;
    fill: $header-socials-color;
}

.socials__link {
    width: 31px;
    height: 25px;
    display: block;
}

.socials__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}
