.user-data__desc {
    font-family: "OpenSans-Semibold", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-right: 60px;
    opacity: 0.4;
    text-align: right;
}

.user-data__name {
    font-family: "OpenSans-Extrabold", sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 60px;
}

.user-data {
    text-align: center;
    display: flex;
}
