.user-data__desc {
    font-family: $font-semibold, sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-right: 60px;
    opacity: 0.4;
    text-align: right;
    min-width: 165px;
    flex: 1;
}

.user-data__name {
    font-family: $font-extrabold, sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 60px;
    flex: 2;
}

.user-data {
    text-align: center;
    display: flex;
}
