.user-info {
    font-family: $font-semibold;
    line-height: 30px;
    margin-right: 95px;
}

.user-info__field-name {
    opacity: .15;
    padding-right: 82px;
}

.user-info__avatar {
    margin-left: 74px;
    margin-bottom: 79px;
    width: 200px;
    height: 200px;
}
