.values-section {
    color: $white;
    background: url("../images/content/wood.png") top no-repeat;
    display: flex;
}

.values-section__image {
    margin-top: 129px;
}

.values-section__icon {
    width: 720px;
}

.values-section__content {
    margin-top: 149px;
}

.values-section__title {
    max-width: 586px;
}

.values-section__values {
    padding: 96px 127px 96px 127px;
}
