@font-face {
    font-family: "OpenSans-Extrabold";
    src: url("./font/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("./font/OpenSans-SemiBold.ttf") format("truetype");
}
