script(type="text/x-template")#all-reviews
    .reviews
        .container.reviews__container
            .reviews__header
                h2.section__header.reviews__title Что обо мне говорят
                .reviews__actions
                    button(@click="previous()" ref="prevBtn").reviews__actions-next
                    button(@click="next()" ref="nextBtn").reviews__actions-prev
            .reviews__content
                flickity(ref="flickity" :options="flickityOptions").reviews__list
                    .review(v-for="(review, index) in reviews" :key="index")
                        .review__description
                            .review__text
                                p {{review.text}}
                            .review__author
                                .review__img-container
                                    img(:src="review.photo").review__img
                                .review__author-info
                                    h3.review__author-name {{review.author}}
                                    .review__author-profession
                                        p {{review.occ}}
