script(type="text/x-template")#preview-container
    .works-preview
        .works-preview__visual
            .works-preview__visual-full
                +image(`content/1.jpg`, "works-preview__image")
                .works-preview__visual-layout
                    .project
                        - var items = ["1", "2", "3", "4"];
                        ul.project__list
                            each item in items
                                li.project__item
                                    +image(`content/${item}.jpg`, "project__img")
                .works-preview__visual-actions
                    .works-preview__visual-actions__next
                    .works-preview__visual-actions__prev
        .works-preview__description
            .descriptionblock
                .descriptionblock__techologystack
                    - var items = ["1", "2", "3", "4"];
                    ul.instruments
                        each item in items
                            li.instruments__item
                .descriptionblock__projectdetails
                    .lengthtitle
                        h2.lengthtitle__text Сайт школы образования
                        .lengthtitle__desc
                            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .descriptionblock__projectlink
                    .iconlink
                        .iconlink__symbol
                            +icon(`link`, "iconlink__img")
                        .iconlink__link Посмотреть сайт
