.section.connection
    .mailform
        .container.mailform__container
            .mailform__header
                h2.section__header.mailform__title Связаться со мной
            form.mailform__content
                .input-fields
                    -
                        var inputs = [
                            ['Введите ваше имя', 'user', 'Иван Иванов'],
                            ['Введите ваш email', 'envelope', 'ivan90@mail.com']
                        ]
                    .input-fields__first-row
                        each input in inputs
                            .input-fields__item
                                .data-input
                                    label.data-input__label= input[0]
                                        .data-input__field
                                            +icon(`${input[1]}`, "data-input__icon")
                                            .data-input__box-container
                                                input(type='text' name=`${input[1]}` placeholder= `${input[2]}`).data-input__box
                    .input-fields__second-row
                        .input-fields__item
                            .data-input
                                label.data-input__label Сообщение к письму
                                    .data-input__field
                                        +icon("message", "data-input__icon")
                                        .data-input__box-container
                                            textarea(name="message" placeholder="Требуется ваша помощь в создании сайта.\n" +
                                            "Интересуют сроки и цена вопроса").data-input__box
                    .input-fields__btn
                        input(type='submit' value="Отправить").input-fields__submit-btn
