.section.examples
    .container.examples__container
        .examples__title
            h2.section__header.section__header--black.examples__title-content Мои работы
        .examples__content
            #works-component
