section.farewell
    .container.farewell__container
        .farewell__data
            .farewell__year
                p &copy; 2019
            .farewell__hero
                .farewell__hero-description
                    h2.farewell__hero-description__text Владимир Астаханов
                    .farewell__hero-decription__details
                        p Личный сайт веб-разработчика
        .farewell__more
            .farewell__menu
                include ./menu
            .farewell__info-table
                .footer-info__data
                    .footer-info__data-column
                        .footer-info__text Этот сайт я сделал в рамках обучения а Школе онлайн образования Loftschool
                        .footer-info__socials
                            include ./socials
                    .footer-info__data-column
                        .footer-info__main-quote
                            .quote
                                .quote__text
                                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                                .quote__author
                                    p Martin Golding
