header.header
    .header__logo
        .logo BA
    .header__btns
        include ./menu

    .header__links
        include ./socials

    .header__btn
        a(href="").socials__link
            +image("content/menu.png", "socials__icon")
