.section.hero
    .container
        include ./header

        .hero__content
            include ./user-data

        .hero__bottom
            a(href="#").hero__bottom-btn.scroll-down-btn Скролл
                +icon("scroll", "hero__bottom-icon")
