.lengthtitle
    h2.lengthtitle__text Чем я могу быть полезен вам
    .lengthtitle__desc
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
