section.parallax
    - for (var i = 1; i <= 7; i++)
        .parallax__layer(data-speed= i * 0.7)
            picture
                - if (i !== 1)
                    source(srcset=require(`images/content/parallax/${i}_2560.png`) media="(min-width: 1920px)").parallax__image
                img(srcset=require(`images/content/parallax/${i}.png`)).parallax__image
