.section.values-section
    .values-section__image
        +image("content/hands.png", "values-section__icon")

    .values-section__content
        .values-section__title
            .values-section__title-content
                include ./lengthtitle

        .values-section__values
            #skills-component

