.welcome-section
    .main-page
        include ./hero
        include ./about-section
    include ./values-section
    include ./examples
    include ./recommends
    include ./connection
    include ./farewell
