.welcome-section
    .main-page
        include ./hero
        include ./about-section
    include ./values-section
    include ./examples
    .more-info
        .more-info__content
            include ./recommends
            include ./connection
        +image("content/leaves.png", "more-info__random-img")
    include ./farewell
