.welcome-section
    .main-page
        include ./parallax
        include ./hero
        include ./about-section
    include ./values-section
    include ./examples
    .more-info
        .more-info__content
            include ./recommends
            include ./connection
    include ./farewell
